h1 {color: rgb(255, 0, 149);
}


@keyframes animacao-texto {
    0% {
        transform: translateX(20px);
    }
    25% {
        transform: translateX(-20px);
    }
    50% {
        transform: translateY(20px);
    }
    75% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateX(0);
    }
}
h2 { font-size: 170%;}
h2 {color: rgb(63, 0, 238);}
h2 {text-align: center;}
